{% extends "base.html" %}
{% block content %}
<p><b>09/01/2024 - Introducing Users: </b>The Application now supports users.</p>
<p><b>12/01/2024 - Introducing Admin Users: </b>The Application now supports Admin users.</p>
<p><b>14/01/2024 - Removal of Admin Users: </b>The Application now removes the support for Admin users due to security considerations.</p>
<p><b>18/01/2024 - Adding Author and Auditor roles: </b>The Application now supports the use of multiple roles, now you can write your blog posts and pass it on to your friends for reviews.</p>
<p><b>31/01/2024 - Revamping the platform to now be a CyberSecurity Blog site. </b>This new exciting change will see a complete rewrite of the code with previous user roles and elements becoming obsolete.
    As of now we only have regular user accounts and the ability to post blogs! Share your research with other cybersecurity researchers now!
</p>
{% endblock content %}