body {
    background-color: #fff;
    color: #000;
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

header p {
    font-size: 20px;
}

main p {
    margin: 20px 0;
}

img {
    margin: 0 20px;
}

.theme-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}