2023-04-13T07:42:01Z
CARGO=/usr/local/Cellar/rust/1.78.0/bin/cargo
CARGO_MANIFEST_DIR=/Users/adrian/Documents/super-cool-malware
CARGO_PKG_AUTHORS=
CARGO_PKG_DESCRIPTION=
CARGO_PKG_HOMEPAGE=
CARGO_PKG_LICENSE=
CARGO_PKG_LICENSE_FILE=
CARGO_PKG_NAME=malware
CARGO_PKG_README=
CARGO_PKG_REPOSITORY=
CARGO_PKG_RUST_VERSION=
CARGO_PKG_VERSION=0.1.0
CARGO_PKG_VERSION_MAJOR=0
CARGO_PKG_VERSION_MINOR=1
CARGO_PKG_VERSION_PATCH=0
CARGO_PKG_VERSION_PRE=
COLORTERM=truecolor
COMMAND_MODE=unix2003
DYLD_FALLBACK_LIBRARY_PATH=/Users/adrian/Documents/super-cool-malware/target/debug/build/ring-dee52c3b1b943469/out:/Users/adrian/Documents/super-cool-malware/target/debug/deps:/Users/adrian/Documents/super-cool-malware/target/debug:/usr/local/Cellar/rust/1.78.0/lib/rustlib/x86_64-apple-darwin/lib:/Users/adrian/lib:/usr/local/lib:/usr/lib
GIT_ASKPASS=/Applications/Visual Studio Code.app/Contents/Resources/app/extensions/git/dist/askpass.sh
HOME=/Users/adrian
JWT_SECRET={{jwt_secret}}
KITTY_INSTALLATION_DIR=/Applications/kitty.app/Contents/Resources/kitty
KITTY_PID=30468
KITTY_WINDOW_ID=5
LANG=en_AU.UTF-8
LESS=-R
LOGNAME=adrian
LSCOLORS=Gxfxcxdxbxegedabagacad
LS_COLORS=di=1;36:ln=35:so=32:pi=33:ex=31:bd=34;46:cd=34;43:su=30;41:sg=30;46:tw=30;42:ow=30;43
MANPATH=/Users/adrian/.nvm/versions/node/v20.14.0/share/man:/usr/share/man:/usr/local/share/man:/Applications/Wireshark.app/Contents/Resources/share/man:/Applications/kitty.app/Contents/Resources/man:
MallocNanoZone=0
NVM_BIN=/Users/adrian/.nvm/versions/node/v20.14.0/bin
NVM_CD_FLAGS=-q
NVM_DIR=/Users/adrian/.nvm
NVM_INC=/Users/adrian/.nvm/versions/node/v20.14.0/include/node
OLDPWD=/Users/adrian/Documents/super-cool-malware
ORIGINAL_XDG_CURRENT_DESKTOP=undefined
PAGER=less
PATH=/usr/local/opt/node@16/bin:/usr/local/sbin:/Users/adrian/.docker/bin:/Users/adrian/bin:/usr/local/bin:/usr/local/Cellar/pyenv-virtualenv/1.2.1/shims:/Users/adrian/.pyenv/shims:/Users/adrian/.nvm/versions/node/v20.14.0/bin:/usr/local/bin:/System/Cryptexes/App/usr/bin:/usr/bin:/bin:/usr/sbin:/sbin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/local/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/bin:/var/run/com.apple.security.cryptexd/codex.system/bootstrap/usr/appleinternal/bin:/Applications/Wireshark.app/Contents/MacOS:/usr/local/opt/node@16/bin:/usr/local/sbin:/Users/adrian/.docker/bin:/Users/adrian/bin:/usr/local/Cellar/pyenv-virtualenv/1.2.1/shims:/Users/adrian/.cargo/bin:/Applications/kitty.app/Contents/MacOS:/Users/adrian/.go/bin:/Users/adrian/.cargo/bin:/Users/adrian/.go/bin
PWD=/Users/adrian/Documents/super-cool-malware
PYENV_SHELL=zsh
PYENV_VIRTUALENV_INIT=1
SHELL=/bin/zsh
SHLVL=3
SSH_AUTH_SOCK=/private/tmp/com.apple.launchd.cXbvzOe6VR/Listeners
TERM=xterm-256color
TERMINFO=/Applications/kitty.app/Contents/Resources/kitty/terminfo
TERM_PROGRAM=vscode
TERM_PROGRAM_VERSION=1.89.1
TMPDIR=/var/folders/qp/0t5_b5k12bj8y3fkkwdnz_000000gn/T/
USER=adrian
USER_ZDOTDIR=/Users/adrian
VSCODE_GIT_ASKPASS_EXTRA_ARGS=
VSCODE_GIT_ASKPASS_MAIN=/Applications/Visual Studio Code.app/Contents/Resources/app/extensions/git/dist/askpass-main.js
VSCODE_GIT_ASKPASS_NODE=/Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper (Plugin).app/Contents/MacOS/Code Helper (Plugin)
VSCODE_GIT_IPC_HANDLE=/var/folders/qp/0t5_b5k12bj8y3fkkwdnz_000000gn/T/vscode-git-17f7383ca1.sock
VSCODE_INJECTION=1
WINDOWID=3781
XPC_FLAGS=0x0
XPC_SERVICE_NAME=0
ZDOTDIR=/Users/adrian
ZSH=/Users/adrian/.oh-my-zsh
_=/usr/local/bin/cargo
__CFBundleIdentifier=com.microsoft.VSCode
__CF_USER_TEXT_ENCODING=0x1F5:0:15